@import "_generals.scss";
@import "_mixin.scss";
@import "_lounger.scss";
@import "_experience.scss";
@import "_inspiration.scss";
@import "_shop.scss";
@import "_SubCont.scss";


// Farben: #2e2e2e / #867772 / rgb(234, 204, 194) / #ebccc2 / #fff / rgb(115, 115, 115) 


body {
    background: #2e2e2e;

    header {
        nav {
            @include flexit(space-between, center);
            height: 80px;
            font-size: 1.3rem;
            position: fixed;
            right: 6%;
            width: 100%;

            img {
                margin: 0vh 0 0vw 20vh;
                height: 50px;
                width: 50px;
            }

            ul {
                @include flexit(space-evenly, center);
                list-style: none;
                width: 34%;

                li {
                    a {
                        text-decoration: none;
                        color: #867772;
                        margin-right: 20px;
                    }

                    a:hover {
                        text-decoration: underline;
                        color: #ebccc2;
                    }
                }

                div {
                    @include flexit(space-between, center);
                    padding-right: 20px;
                    padding-left: 20px;

                    li {
                        a {
                            text-decoration: none;
                            color: #867772;
                            margin-right: 15px;
                        }

                        a:hover {
                            text-decoration: underline;
                            color: #ebccc2;
                        }
                    }
                }
            }
        }

        h1 {
            color: #ebccc2;
            font-size: 4.3rem;
            font-weight: 300;
            line-height: 5rem;
            width: 58%;
            padding: 16vh 0 16vh 22%;
        }

        img {
            width: 90%;
            margin: 0 5% 16vh 5%;
        }
    }
}

aside {
    position: fixed;
    left: 0;
    top: 25vh;
    width: 200px;
    margin-left: 1vw;

    .divIndex:before {
        content: "⃝";
        // left: 44px;
        // top: 195px;
        font-size: 1.8rem;
        color: #ebccc2;
        position: absolute;
        top: -5px;
        left: 33px
    }

    .divLounger:before {
        content: "⃝";
        left: 33px;
        top: 85px;
        font-size: 1.8rem;
        color: #ebccc2;
        position: absolute;
    }

    .divExperience:before {
        content: "⃝";
        left: 33px;
        top: 175px;
        font-size: 1.8rem;
        color: #ebccc2;
        position: absolute;
    }

    .divInspiration:before {
        content: "⃝";
        left: 33px;
        top: 265px;
        font-size: 1.8rem;
        color: #ebccc2;
        position: absolute;
    }

    .divShop:before {
        content: "⃝";
        left: 33px;
        top: 360px;
        font-size: 1.8rem;
        color: #ebccc2;
        position: absolute;
    }


    ul {
        position: absolute;
        list-style: none;
        font-size: 4rem;
        color: #867772;

        li {
            padding: 0vh 0 0vh 2.3vw;
            margin-left: 3vh;



            a {
                display: block;
                font-size: 1.5rem;
                text-decoration: none;
                color: #867772;
            }

            a:hover {
                color: #ebccc2;
            }

            .aboutIndex {
                color: #ebccc2;
            }

            .aboutLounger {
                color: #ebccc2;
            }

            .aboutExperience {
                color: #ebccc2;
            }

            .aboutInspiration {
                color: #ebccc2;
            }

            .aboutShop {
                color: #ebccc2;
            }
        }

        .strich {
            height: 8vh;
            border-left: 1px solid #867772;
        }
    }

    ul:before {
        content: "⃝";
        color: #867772;
        font-size: 1rem;
        position: fixed;
        left: 44px;
        top: 195px;
        line-height: 2rem;
    }
}

ul:nth-of-type(2) {
    top: 90px;

}

ul:nth-of-type(2):before {
    content: "⃝";
    font-size: 1rem;
    position: fixed;
    left: 44px;
    top: 285px;
    line-height: 2rem;
}

ul:nth-of-type(3) {
    top: 180px;
}

ul:nth-of-type(3):before {
    content: "⃝";
    font-size: 1rem;
    position: fixed;
    left: 44px;
    top: 375px;
    line-height: 2rem;
}

ul:nth-of-type(4) {
    top: 270px;
}

ul:nth-of-type(4):before {
    content: "⃝";
    font-size: 1rem;
    position: fixed;
    left: 44px;
    top: 465px;
    line-height: 2rem;
}

ul:nth-of-type(5) {
    top: 360px;
}

ul:nth-of-type(5):before {
    content: "⃝";
    font-size: 1rem;
    position: fixed;
    left: 44px;
    top: 560px;
    line-height: 2rem;
}


main {
    .mainIndex {
        @include flexit(space-between, center);
        padding: 5% 8% 10% 15%;

        img {
            width: 500px;
            height: 500px;
        }

        section {
            padding: 0 0 0 4vw;
            width: 50%;

            h2 {
                padding: 0 0 3vh 0;
                color: #ebccc2;
                font-size: 3.5rem;
                font-weight: 300;
                line-height: 5rem;
            }

            p {
                color: #867772;
                font-size: 1.8rem;
                line-height: 2.8rem;
                padding-bottom: 2.5vh;
            }
        }
    }
}


.lounger {
    @include flexit(space-between, center);

    div {
        background: url("../img/section-voyager.jpg") right/ cover no-repeat;
        height: 100vh;
        width: 55%;
    }

    section {
        width: 40%;
        padding-top: 22vh;
        padding-right: 5vw;

        h2 {
            padding: 0 0 10vh 0;
            color: #ebccc2;
            font-size: 3.5rem;
            font-weight: 300;
            line-height: 5rem;
        }

        p {
            color: #867772;
            font-size: 1.7rem;
            line-height: 2.8rem;
            padding-bottom: 2.5vh;
        }
    }
}

.experience {
    @include flexit(space-between, center);

    div {
        background: url("../img/section-experience-1.jpg") right/ cover no-repeat;
        height: 100vh;
        width: 55%;
    }

    section {
        width: 40%;
        padding-top: 22vh;
        padding-right: 5vw;

        h2 {
            padding: 0 0 10vh 0;
            color: #ebccc2;
            font-size: 3.5rem;
            font-weight: 300;
            line-height: 5rem;
        }

        p {
            color: #867772;
            font-size: 1.7rem;
            line-height: 2.8rem;
            padding-bottom: 2.5vh;
        }
    }

}

.inspiration {
    padding: 25vh 20% 0 20%;

    iframe {
        height: 480px;
        width: 850px;
        border: none;
    }

    article {
        padding-top: 16vh;
        padding-bottom: 10vh;

        h3 {
            padding: 0 0 0vh 0;
            color: #ebccc2;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 5rem;
        }

        h2 {
            padding: 0 0 4vh 0;
            color: #ebccc2;
            font-size: 3.5rem;
            font-weight: 300;
            line-height: 5rem;
        }

        a {
            text-decoration: none;
            color: #867772;
            padding: 5px 7px 5px 7px;
            margin-right: 3px;
            letter-spacing: 2px;
            border: 1px solid #ebccc2;
            border-radius: 2px;
        }

        p {
            color: #867772;
            font-size: 1.7rem;
            line-height: 2.8rem;
            padding-top: 4vh;
            padding-bottom: 2.5vh;
        }
    }

    section {
        @include flexit(space-between, center);
        height: 60vh;

        img {
            width: 50%;
            height: 100%;
        }

        article {
            padding-left: 1vw;
            width: 50%;
        }
    }

    section {
        article {
            // padding-right: 2vw;
            width: 50%;

            h2 {
                padding-right: 4vw;
            }
        }

        img {
            width: 50%;
            height: 100%;
        }
    }

}

.shop {
    @include flexit(space-between, center);

    div {
        background: url("../img/section-composition4.jpg") top/ cover no-repeat;
        height: 100vh;
        width: 55%;
    }

    section {
        width: 40%;
        padding-right: 5vw;
        text-align: center;

        img {
            height: 60vh;
            width: 100%;
        }

        h2 {
            padding: 0 0 1vh 0;
            color: #ebccc2;
            font-size: 3rem;
            font-weight: 300;
            line-height: 5rem;
        }

        p {
            color: #867772;
            font-size: 1.7rem;
            line-height: 2.8rem;
            padding-bottom: 1.4vh;
        }

        a {
            text-decoration: none;
            color: #2e2e2e;
            font-size: 1.2rem;
            background-color: #ebccc2;
            padding: 8px 20px;
            letter-spacing: 2px;
            border-radius: 2px;
        }
    }
}

.subCont {
    @include flexit(space-between, center);

    div {
        background: url("../img/section-composition4.jpg") top/ cover no-repeat;
        height: 100vh;
        width: 55%;
        @include flexit(center, center);

        .form {
            background-color: rgba(235, 204, 194, 0.6);
            padding: 3vh;
            width: 55%;
            border-radius: 10px;
            box-shadow: 0 0 30px #ebccc2;

            h2 {
                text-align: center;
                font-size: 5rem;
                color: #2e2e2e;
                font-weight: bold;
            }

            h3 {
                padding: 3vh 0;
                text-align: center;
                font-size: 2rem;
                color: #2e2e2e;
            }
        }

        form {
            margin: 0 0 0 0;
            padding: 0 0vh 3vh 0vw;
            color: #2e2e2e;
            font-size: 2rem;
            font-weight: 500;
            width: 100%;

            label {
                display: block;
                text-align: left;
                padding: 2vh;
            }

            input {
                width: 100%;
                text-align: center;
                line-height: 3rem;
            }

            input:nth-of-type(4) {
                width: 100%;
                text-align: center;
                height: 10vh;
            }

            input:nth-of-type(5) {
                text-align: center;
                font-size: 1.6rem;
                margin-top: 3vh;
                width: 120px;
                padding: 10px 30px;
                background-color: #2e2e2e;
                border-radius: 5px;
                border: 1px solid #2e2e2e;
                color: #ebccc2;
                margin-left: 29%;
            }

            input:nth-of-type(5):hover {
                text-decoration: underline;
                background-color: #ebccc2;
                border: 1px solid #ebccc2;
                color: #2e2e2e;
                box-shadow: 0 0 20px #2e2e2e;
            }
        }
    }

    // logo on Subscribe Contact site

    .logo {
        opacity: 0.6;
        margin: 20px;
        width: 600px;
        background-color: rgb(134, 119, 114, 0.5);
        border-radius: 43%;
        box-shadow: 0 0 80px #867772;
    }
}

//toggle class for JS

// .subscribed {
//     .form {
//         background-color: rgba(235, 204, 194, 0.8);
//         padding: 3vh;
//         width: 45%;
//         border-radius: 10px;
//         box-shadow: 0 0 30px #ebccc2;
//     }
// }

.toggleContainer {
    margin: 5% 2%;
    background-color: rgba(235, 204, 194);
    padding: 3vh;
    width: 96%;
    border-radius: 10px;
    box-shadow: 0 0 30px #ebccc2;
    height: 90vh;
    position: absolute;
    top: -105vh;
    scroll-behavior: smooth;

    h2 {
        text-align: center;
        font-size: 6rem;
        color: #867772;
        font-weight: bold;
        padding: 17vh;
    }

    h3 {
        padding: 3vh 0;
        text-align: center;
        font-size: 4rem;
        color: #867772;
        padding: 5vh;
    }

    input {
        text-align: center;
        font-size: 1.6rem;
        margin-top: 3vh;
        width: 120px;
        padding: 10px 30px;
        background-color: #867772;
        border-radius: 5px;
        border: 1px solid #867772;
        color: #ebccc2;
        margin-left: 45%;
    }

    input:hover {
        text-decoration: underline;
        background-color: #ebccc2;
        border: 1px solid #ebccc2;
        color: #867772;
        box-shadow: 0 0 20px #2e2e2e;
    }
}